html,
body {
    height: 100%;
    font-family: Arial;
    background-color: #f5f5f9;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    /*让字体变得润滑*/
    -moz-osx-font-smoothing: grayscale;
    /*让字体变得润滑*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*禁止链接高亮*/
    -webkit-touch-callout: none;
    /*禁止链接长按弹出选项*/
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none
}

input,
button {
    border: 0 none;
    border-radius: 0px;
    outline: none;
}